* {
    background-image: url('./modern-abstract-background-design-vector-illustration_29865-6278.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}


nav {
    background-color: aqua;
    z-index: 10;
    position: relative;
    width: 100%;
    padding: 0;
    top: 0;
    left: 0;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    padding-top: 20px;
    align-items: center;
    padding-bottom: 20px;
    background-color: inherit;
}


nav ul li {
    list-style: none;
    padding: 10px;
    text-decoration: none;
    background-color: inherit;
}


nav ul li a {
    list-style: none;
    padding: 10px;
    text-decoration: none;
    background-color: inherit;
}

#introduction img {
    max-width: 250px;
    max-height: 250px;
}

#headshot-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headshot-container h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 20px;
}

#introduction p {
    padding-top: 20px;
    font-family:Arial, Helvetica, sans-serif
}